@keyframes ai {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes ail {
    0% {
        opacity: 0;
        transform: translateX(calc(-1*var(--Q)))
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes aic {
    0% {
        opacity: 0;
        transform: translateY(calc(var(--Q)/2))
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes air {
    0% {
        opacity: 0;
        transform: translateX(var(--Q))
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes reduced-motion-fade {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes skeleton {
    0%,to {
        filter: brightness(1)
    }

    25% {
        filter: brightness(1.2)
    }

    75% {
        filter: brightness(.8)
    }
}

@keyframes tooltip-show {
    0% {
        visibility: hidden
    }

    1% {
        visibility: visible;
        opacity: 0
    }

    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes tooltip-hide {
    0% {
        transform: translateX(0);
        opacity: 1
    }

    99% {
        visibility: visible;
        transform: translateX(var(--K));
        opacity: 0
    }

    to {
        visibility: hidden
    }
}

@keyframes notification {
    0% {
        font-size: 0;
        padding: 0;
        margin: 0;
        margin-left: calc(100% - .25em);
        opacity: 0
    }

    30% {
        font-size: 1.25em;
        padding: .5em;
        margin: .25em;
        margin-left: calc(100% - .25em);
        opacity: 0;
        transform: translateX(0)
    }

    to {
        opacity: 1;
        transform: translateX(-100%)
    }
}

@keyframes notificationHide {
    0% {
        opacity: 1;
        transform: translateX(-100%)
    }

    70% {
        font-size: 1.25em;
        padding: .5em;
        margin: .25em;
        margin-left: calc(100% - .25em);
        opacity: 0;
        transform: translateX(0)
    }

    to {
        font-size: 0;
        padding: 0;
        margin: 0;
        margin-left: calc(100% - .25em);
        opacity: 0
    }
}

@font-face {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/ABeeZee/Regular.ttf)format("truetype")
}

:root {
    --v: #00BD76;
    --w: #94FF2D;
    --x: #50941E;
    --y: #0B280E;
    --m: #000;
    --a: #AAA;
    --z: #FFF;
    --A: #FF001D;
    --B: #C41361;
    --C: #FFD632;
    --D: #FF612B;
    --E: #1798FF;
    --F: #8538FF;
    --G: #000A;
    --H: #8AB4F8;
    --I: #9494949f;
    --J: 60px;
    --K: 20px;
    --o: 80px;
    --L: 40px;
    --M: 5px;
    --N: 25px;
    --b: 20px;
    --O: 5px;
    --P: 1s;
    --Q: 300px;
    --R: 300px;
    --n: 40px;
    color: var(--z);
    font-size: var(--N);
    font-family: "ABeeZee"
}

::-webkit-scrollbar {
    background-color: var(--G)
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--y);
    backdrop-filter: blur(var(--M))
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--x)
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--w)
}

::selection {
    background-color: var(--I)
}

::-moz-selection {
    background: var(--I)
}

:focus-visible {
    outline-width: 3px;
    outline-offset: 3px;
    outline-color: var(--H);
    outline-style: solid
}

html {
    overflow-x: hidden;
    max-width: 100vw;
    margin: 0;
    scrollbar-color: var(--y) var(--G)
}

#background,#shadow {
    position: fixed;
    border-radius: calc(var(--J)/1.5);
    display: block;
    overflow: hidden
}

#background {
    background-image: linear-gradient(135deg,var(--y),var(--m));
    width: 100vw;
    height: 100vh;
    top: var(--J);
    left: var(--o);
    z-index: -1
}

#shadow {
    user-select: none;
    -moz-user-select: none;
    pointer-events: none;
    box-shadow: inset var(--w)0 0 var(--L),var(--m) calc(-1*var(--o))0 0;
    width: 110vw;
    height: 110vh;
    top: 0;
    left: 0;
    margin-left: var(--o);
    margin-top: var(--J);
    z-index: 90
}

#content,body {
    overflow-x: hidden
}

body {
    background-color: var(--m);
    width: 100vw;
    margin: 0
}

#content {
    width: calc(100vw - var(--o)*3);
    padding-top: var(--J);
    padding-bottom: var(--K);
    padding-left: var(--o);
    padding-right: var(--o);
    margin-top: var(--J);
    margin-left: var(--o);
    min-height: calc(100vh - (var(--J)*2 + var(--K)));
    display: block;
    z-index: 10
}

blockquote {
    margin-left: 0;
    padding-left: .3em;
    border-left: .3em solid var(--a)
}

code,pre {
    background-color: var(--G)
}

code {
    color: var(--a);
    border-radius: .2em;
    padding: .1em .2em;
    font-size: .8em;
    font-family: "Consolas"
}

pre {
    width: calc(100% - var(--n)/2);
    padding: calc(var(--n)/2);
    padding-bottom: 0;
    padding-right: 0;
    border-radius: calc(var(--n)/2);
    margin-top: calc(var(--n)/2);
    margin-bottom: calc(var(--n)/2);
    min-height: 1em;
    max-height: 500px;
    overflow: scroll
}

pre>code {
    background-color: #0000;
    padding: 0
}

pre::-webkit-resizer {
    display: none
}

pre::-webkit-scrollbar-corner {
    display: none
}

pre::-webkit-scrollbar {
    background-color: #0000
}

table,td,th {
    border: 1px solid var(--a)
}

table {
    border-collapse: collapse;
    margin-top: calc(var(--n)/2);
    margin-bottom: calc(var(--n)/2)
}

td,th {
    padding-left: .5em;
    padding-right: .5em
}

hr {
    border-color: var(--a)
}

#footnotes {
    color: var(--a);
    font-size: .7em
}

.D {
    user-select: none;
    pointer-events: none;
    filter: grayscale()
}

.E {
    display: none;
    width: 0;
    height: 0
}

.F,.G,.l,.o {
    transition-duration: var(--P);
    transition-property: translate,opacity;
    opacity: 0
}

.l {
    translate: calc(-1*var(--Q))
}

.o {
    translate: 0 calc(var(--Q)/2)
}

.G {
    translate: var(--Q)
}

.H {
    translate: 0 0;
    opacity: 1
}

.B,.I,.J {
    opacity: 1;
    animation-duration: var(--P);
    animation-fill-mode: forwards;
    position: relative;
    top: -100%
}

.I {
    animation-name: ail
}

.J {
    animation-name: aic
}

.B {
    animation-name: air
}

.x {
    opacity: 1;
    animation-duration: var(--P);
    animation-fill-mode: forwards;
    animation-name: ai
}

@media (prefers-reduced-motion) {
    .B,.I,.J,.x {
        top: 0;
        animation-name: reduced-motion-fade
    }

    .G,.l,.o {
        translate: 0 0
    }
}

#mobile-nav,table {
    background-color: var(--G)
}

#mobile-nav {
    width: 100vw;
    height: 100vh;
    left: -100vw;
    top: 0;
    opacity: 0;
    z-index: 198;
    position: absolute;
    font-size: 2.5em;
    text-align: center;
    display: none;
    backdrop-filter: none
}

#mobile-nav-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

#nav-menu {
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    z-index: 200
}

#nav-menu>*,a:after {
    width: 100%;
    background-color: var(--z)
}

#nav-menu>* {
    display: block;
    position: relative;
    border-radius: calc((var(--J) - var(--K)*2)/5);
    height: 20%;
    margin-bottom: 20%;
    transition-duration: .5s;
    transition-property: transform,opacity
}

.f,.g {
    bottom: 40%
}

.K>.e {
    transform: rotate(45deg)
}

.K>.f {
    transform: rotate(-45deg)
}

.K>.d,.K>.g {
    opacity: 0
}

header {
    background-color: var(--m);
    height: var(--J);
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100
}

#header-desktop {
    margin-top: calc(var(--K)/2 + 1em/4);
    margin-left: calc(var(--o) + var(--J)/1.5)
}

#header-desktop a {
    margin-right: .2em
}

#header-mobile {
    display: none
}

#user {
    position: fixed;
    top: 0;
    right: 0;
    margin: calc(var(--K)/2 + 1em/4);
    z-index: 200
}

.L,a {
    display: inline-block
}

.L {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px
}

.i,sidebar {
    width: calc(var(--o) - var(--K))
}

sidebar {
    padding: calc(var(--K)/2);
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    display: grid;
    grid-template-rows: auto;
    z-index: 100
}

.i {
    height: calc(var(--o) - var(--K));
    border-radius: 50%
}

.q,footer {
    width: calc(100vw - var(--o)*2)
}

footer {
    background-color: var(--m);
    font-size: calc(var(--N)/1.5);
    padding: var(--K);
    padding-left: calc(var(--o)*2);
    z-index: 3
}

.q {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto
}

.q a {
    width: max-content
}

a {
    color: var(--a);
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition-property: color;
    transition-duration: .5s
}

a:hover {
    color: var(--z)
}

a:after {
    content: "";
    position: absolute;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform .25s ease-out
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left
}

.b:after,.b:hover:after {
    transform-origin: bottom center
}

.c:after {
    transition: none
}

.c:after,.c:hover:after {
    transform: none;
    height: 0
}

.a {
    position: fixed;
    z-index: 300;
    border-radius: .25em;
    font-size: 1.25em;
    padding: .5em;
    margin: .25em;
    background-color: var(--G);
    text-shadow: 0 0 .2em var(--G);
    translate: 0 calc(-100% - 1em);
    transition: all .3s
}

.a:focus {
    translate: 0 0
}

.y {
    color: #0000;
    user-select: none;
    animation-name: skeleton;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0
}

img {
    border-radius: var(--b);
    box-shadow: var(--n) var(--n) var(--n) var(--G)
}

.j {
    text-shadow: none;
    box-shadow: none
}

.m {
    margin-top: calc(var(--n)/2)
}

.C {
    margin-bottom: calc(var(--n)/2)
}

.p,textarea {
    border-radius: var(--b)
}

.p,inline {
    width: fit-content;
    display: inline-block
}

.p {
    padding: calc(var(--n)/1.4);
    padding-left: var(--n);
    padding-right: var(--n);
    margin-bottom: calc(var(--n)/2);
    margin-right: calc(var(--n)/2);
    border: solid var(--z) var(--O);
    cursor: pointer;
    user-select: none
}

inline {
    margin-bottom: var(--n);
    margin-right: var(--n)
}

textarea {
    color: var(--z);
    background-color: var(--G);
    padding: var(--b);
    max-width: calc(100% - var(--b)*2);
    min-width: calc(100% - var(--b)*2);
    min-height: 300px;
    max-height: 500px;
    font-size: var(--N);
    font-family: inherit;
    border: 0;
    outline: 0
}

textarea:focus-visible {
    outline: 0
}

.n::-webkit-resizer {
    display: none
}

.n::-webkit-scrollbar-corner {
    display: none
}

.n::-webkit-scrollbar {
    background-color: #0000
}

.M {
    scrollbar-width: 0
}

.M::-webkit-scrollbar-thumb {
    display: none!important;
    background-color: #0000
}

.M::-webkit-scrollbar {
    display: none!important;
    background-color: #0000
}

.k,noscript {
    display: block
}

noscript {
    position: fixed;
    bottom: 0;
    padding: calc(var(--o)/2);
    width: calc(100vw - var(--o));
    background-image: linear-gradient(135deg,var(--A),var(--B));
    z-index: 101
}

.k {
    position: relative;
    left: var(--o);
    bottom: calc(var(--o) - var(--K));
    padding: calc(var(--K)/2);
    border-radius: calc(var(--K)/4);
    word-wrap: normal;
    pointer-events: none;
    opacity: 0;
    width: max-content;
    background-color: var(--G);
    z-index: 105;
    transition-property: opacity,transform,color;
    transform: translateX(calc(var(--K)*-1));
    transition-duration: .5s
}

.h {
    width: calc(var(--o) - var(--K));
    height: calc(var(--o) - var(--K))
}

.h:focus>.k,.h:hover>.k {
    opacity: 1;
    transform: translateX(0)
}

#notifications {
    position: fixed;
    top: var(--J);
    right: 0;
    z-index: 199;
    user-select: none;
    pointer-events: none;
    width: 50%
}

.N,.O {
    animation-fill-mode: forwards;
    animation-duration: .7s
}

.N {
    width: max-content;
    word-wrap: break-word;
    max-width: 100%;
    pointer-events: all;
    border-radius: .25em;
    font-size: 1.25em;
    padding: .5em;
    margin: .25em;
    margin-left: calc(100% - .25em);
    box-shadow: calc(var(--n)/4) calc(var(--n)/4) calc(var(--n)/4) var(--G);
    text-shadow: 0 0 .2em var(--G);
    animation-name: notification
}

.O {
    animation-name: notificationHide
}

@media screen and (max-width: 1100px) {
    :root {
        --K:10px;
        --N: 17px;
        --V: var(--N) * 0.8;
        --Q: 30vw;
        --R: 30vw
    }

    #header-desktop,sidebar {
        display: none
    }

    #header-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        margin: var(--K);
        height: calc(var(--J) - var(--K)*2);
        z-index: 200
    }

    #mobile-nav {
        display: block;
        transition-duration: .5s;
        transition-property: left,opacity
    }

    .P {
        left: 0!important;
        opacity: 1!important;
        backdrop-filter: brightness(50%)!important
    }

    #user {
        font-size: calc(var(--J) - var(--K)*3);
        margin: calc((var(--J) - 1em)/2.5)
    }

    .L {
        max-width: calc(100vw - var(--o)*2.5)
    }

    footer {
        padding: calc(2*var(--K));
        padding-left: var(--o);
        padding-right: var(--o);
        font-size: var(--V)
    }

    .q,footer {
        width: calc(100vw - var(--o)*2)
    }

    .q a {
        padding-bottom: var(--N)*.1;
        padding-top: var(--N)*.1
    }

    .s {
        grid-row: 2
    }

    .r {
        grid-column: 1!important
    }

    .t {
        grid-column: 2!important
    }

    .u {
        grid-column: 3!important
    }

    .v {
        grid-column: 4!important
    }

    #content {
        margin: 0;
        margin-top: var(--J);
        padding: calc(var(--o)/2);
        padding-top: var(--L);
        width: calc(100vw - var(--o))
    }

    #background,#shadow {
        left: 0;
        margin-left: 0;
        border-radius: 0;
        overflow: hidden
    }

    #shadow {
        box-shadow: inset var(--w) calc(var(--L)*-1)0 var(--L),var(--m) calc(-1*var(--o))0 0;
        width: 100vw;
        padding-left: calc(var(--L)*2);
        padding-right: calc(var(--L)*2);
        left: calc(var(--L)*-2)
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding-left:calc(var(--o)/4);
        padding-right: calc(var(--o)/4)
    }

    .q,footer {
        width: calc(100vw - var(--o)/2)
    }
}
