@font-face {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/ABeeZee/Regular.ttf") format("truetype");
}

:root {
    --theme1: #00BD76;
    --theme2: #94FF2D;
    --theme-medium: #50941E;
    --theme-dark: #0B280E;
    --black: #000000;
    --light-grey: #AAAAAA;
    --white: #FFFFFF;
    --red1: #FF001D;
    --red2: #C41361;
    --yellow1: #FFD632;
    --yellow2: #FF612B;
    --blue1: #1798FF;
    --blue2: #8538FF;
    --overlay: #000000AA;
    --outline: #8AB4F8;
    --selection-colour: #9494949f;
    --navbar-height: 60px;
    --navbar-offset: 20px;
    --sidebar-width: 80px;
    --glow: 40px;
    --blur: 5px;
    --font-size: 25px;
    --border-radius: 20px;
    --border: 5px;
    --fade-in-transition-duration: 1s;
    --fade-in-side-distance: 300px;
    --fade-in-bottom-distance: 300px;
    --margin: 40px;
    /* --shadow-x: 10px;
    --shadow-y: 10px;
    --shadow-blur: 5px; */
    color: var(--white);
    font-size: var(--font-size);
    font-family: "ABeeZee";
}

::-webkit-scrollbar {
    background-color: var(--overlay);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--theme-dark);
    backdrop-filter: blur(var(--blur));
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-medium);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--theme2);
}

::selection {
    background-color: var(--selection-colour);
}

::-moz-selection {
    background: var(--selection-colour);
  }

*:focus-visible {
    outline-width: 3px;
    outline-offset: 3px;
    outline-color: var(--outline);
    outline-style: solid;
}

html {
    overflow-x: hidden;
    max-width: 100vw;
    margin: 0;
    scrollbar-color: var(--theme-dark) var(--overlay);
}

#background {
    background-image: linear-gradient(135deg, var(--theme-dark), var(--black));
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: var(--navbar-height);
    left: var(--sidebar-width);
    border-radius: calc(var(--navbar-height) / 1.5);
    display: block;
    overflow: hidden;
    z-index: -1;
}

#shadow {
    user-select: none;
    -moz-user-select: none;
    pointer-events: none;
    box-shadow: inset var(--theme2) 0 0 var(--glow), var(--black) calc(-1 * var(--sidebar-width)) 0 0;
    width: 110vw;
    height: 110vh;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: calc(var(--navbar-height) / 1.5);
    margin-left: var(--sidebar-width);
    margin-top: var(--navbar-height);
    display: block;
    overflow: hidden;
    z-index: 90;
}

body {
    background-color: var(--black);
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

#content {
    width: calc(100vw - var(--sidebar-width) * 3);
    padding-top: var(--navbar-height);
    padding-bottom: var(--navbar-offset);
    padding-left: var(--sidebar-width);
    padding-right: var(--sidebar-width);
    margin-top: var(--navbar-height);
    margin-left: var(--sidebar-width);
    min-height: calc(100vh - (var(--navbar-height) * 2 + var(--navbar-offset)));
    /* text-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--overlay); */
    display: block;
    overflow-x: hidden;
    z-index: 10;
}

blockquote {
    margin-left: 0px;
    padding-left: 0.3em;
    border-left: 0.3em solid var(--light-grey);
}

code {
    background-color: var(--overlay);
    color: var(--light-grey);
    border-radius: 0.2em;
    padding: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 0.8em;
    font-family: "Consolas"
}

pre {
    width: calc(100% - var(--margin) / 2);
    padding: calc(var(--margin) / 2);
    padding-bottom: 0;
    padding-right: 0;
    border-radius: calc(var(--margin) / 2);
    margin-top: calc(var(--margin) / 2);
    margin-bottom: calc(var(--margin) / 2);
    background-color: var(--overlay);
    min-height: 1em;
    max-height: 500px;
    overflow: scroll;
}

pre>code {
    background-color: #00000000;
    padding: 0;
}

pre::-webkit-resizer {
    display: none;
}

pre::-webkit-scrollbar-corner {
    display: none;
}

pre::-webkit-scrollbar {
    background-color: #00000000;
}

table {
    border: 1px solid var(--light-grey);
    border-collapse: collapse;
    background-color: var(--overlay);
    margin-top: calc(var(--margin) / 2);
    margin-bottom: calc(var(--margin) / 2);
}

td,
th {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid var(--light-grey);
}

hr {
    border-color: var(--light-grey);
}

#footnotes {
    color: var(--light-grey);
    font-size: 0.7em;
}

.disabled {
    user-select: none;
    pointer-events: none;
    filter: grayscale();
}

.hidden {
    display: none;
    width: 0;
    height: 0;
}

.a,
.al,
.ac,
.ar {
    transition-duration: var(--fade-in-transition-duration);
    transition-property: translate, opacity;
    opacity: 0;
}

.al {
    translate: calc(-1 * var(--fade-in-side-distance));
}

.ac {
    translate: 0 calc(var(--fade-in-side-distance) / 2);
}

.ar {
    translate: var(--fade-in-side-distance);
}

.animated {
    translate: 0 0;
    opacity: 1;
}

.ail,
.aic,
.air {
    opacity: 1;
    animation-duration: var(--fade-in-transition-duration);
    animation-fill-mode: forwards;
    position: relative;
    top: -100%;
}

.ail {
    animation-name: ail;
}

.aic {
    animation-name: aic;
}

.air {
    animation-name: air;
}

.ai {
    opacity: 1;
    animation-duration: var(--fade-in-transition-duration);
    animation-fill-mode: forwards;
    animation-name: ai;
}

@media (prefers-reduced-motion) {

    .ail,
    .aic,
    .air,
    .ai {
        top: 0;
        animation-name: reduced-motion-fade;
    }

    .al,
    .ac,
    .ar {
        translate: 0 0;
    }
}

@keyframes ai {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes ail {
    from {
        opacity: 0;
        transform: translateX(calc(-1 * var(--fade-in-side-distance)));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes aic {
    from {
        opacity: 0;
        transform: translateY(calc(var(--fade-in-side-distance) / 2));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes air {
    from {
        opacity: 0;
        transform: translateX(var(--fade-in-side-distance));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes reduced-motion-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#mobile-nav {
    width: 100vw;
    height: 100vh;
    left: -100vw;
    top: 0;
    background-color: var(--overlay);
    opacity: 0;
    z-index: 198;
    position: absolute;
    font-size: 2.5em;
    text-align: center;
    display: none;
    backdrop-filter: none;
}

#mobile-nav-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#nav-menu {
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    z-index: 200;
}

#nav-menu>* {
    display: block;
    position: relative;
    border-radius: calc((var(--navbar-height) - var(--navbar-offset) * 2) / 5);
    width: 100%;
    background-color: var(--white);
    height: 20%;
    margin-bottom: 20%;
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}

.line-middle2,
.line-bottom {
    bottom: 40%
}

.menu-open>.line-middle {
    transform: rotate(45deg);
}

.menu-open>.line-middle2 {
    transform: rotate(-45deg);
}

.menu-open>.line-top,
.menu-open>.line-bottom {
    opacity: 0;
}

header {
    background-color: var(--black);
    height: var(--navbar-height);
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
}

#header-desktop {
    margin-top: calc(var(--navbar-offset) / 2 + 1em / 4);
    margin-left: calc(var(--sidebar-width) + var(--navbar-height) / 1.5);
}

#header-desktop a {
    margin-right: 0.2em;
}

#header-mobile {
    display: none;
}

#user {
    position: fixed;
    top: 0;
    right: 0;
    margin: calc(var(--navbar-offset) / 2 + 1em / 4);
    z-index: 200;
}

.user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 200px;
}

sidebar {
    width: calc(var(--sidebar-width) - var(--navbar-offset));
    padding: calc(var(--navbar-offset) / 2);
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    display: grid;
    grid-template-rows: auto;
    z-index: 100;
}

.sidebar-item {
    width: calc(var(--sidebar-width) - var(--navbar-offset));
    height: calc(var(--sidebar-width) - var(--navbar-offset));
    border-radius: 50%;
}

footer {
    background-color: var(--black);
    width: calc(100vw - var(--sidebar-width) * 2);
    font-size: calc(var(--font-size) / 1.5);
    padding: var(--navbar-offset);
    padding-left: calc(var(--sidebar-width) * 2);
    z-index: 3;
}

.footer-grid {
    width: calc(100vw - var(--sidebar-width) * 2);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.footer-grid a {
    width: max-content;
}

a {
    color: var(--light-grey);
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.5s;
}

a:hover {
    color: var(--white);
}

a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.link2:after {
    transform-origin: bottom center;
}

.link2:hover:after {
    transform-origin: bottom center;
}

.link-noanimation:after {
    transform: none;
    height: 0;
    transition: none;
}

.link-noanimation:hover:after {
    transform: none;
    height: 0;
}

.link-skip {
    position: fixed;
    z-index: 300;
    border-radius: 0.25em;
    font-size: 1.25em;
    padding: 0.5em;
    margin: 0.25em;
    background-color: var(--overlay);
    text-shadow: 0 0 0.2em var(--overlay);
    translate: 0 calc(-100% - 1em);
    transition: all 0.3s;
}

.link-skip:focus {
    translate: 0 0;
}

.skeleton {
    color: #0000;
    user-select: none;
    animation-name: skeleton;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes skeleton {
    0% {
        filter: brightness(1);
    }

    25% {
        filter: brightness(1.2);
    }

    75% {
        filter: brightness(0.8);
    }

    100% {
        filter: brightness(1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

img {
    border-radius: var(--border-radius);
    box-shadow: var(--margin) var(--margin) var(--margin) var(--overlay);
}

.no-shadow {
    text-shadow: none;
    box-shadow: none;
}

.mt {
    margin-top: calc(var(--margin) / 2);
}

.mb {
    margin-bottom: calc(var(--margin) / 2);
}

.button {
    padding: calc(var(--margin) / 1.4);
    padding-left: var(--margin);
    padding-right: var(--margin);
    margin-bottom: calc(var(--margin) / 2);
    margin-right: calc(var(--margin) / 2);
    border-radius: var(--border-radius);
    border: solid var(--white) var(--border);
    width: fit-content;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

inline {
    width: fit-content;
    display: inline-block;
    margin-bottom: var(--margin);
    margin-right: var(--margin);
}

textarea {
    color: var(--white);
    background-color: var(--overlay);
    border-radius: var(--border-radius);
    padding: var(--border-radius);
    max-width: calc(100% - var(--border-radius) * 2);
    min-width: calc(100% - var(--border-radius) * 2);
    min-height: 300px;
    max-height: 500px;
    font-size: var(--font-size);
    font-family: inherit;
    border: none;
    outline: none;
}

textarea:focus-visible {
    outline: none;
}

.nobg-scrollbar::-webkit-resizer {
    display: none;
}

.nobg-scrollbar::-webkit-scrollbar-corner {
    display: none;
}

.nobg-scrollbar::-webkit-scrollbar {
    background-color: #00000000;
}

.no-scrollbar {
    scrollbar-width: 0;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    display: none !important;
    background-color: #00000000;
}

.no-scrollbar::-webkit-scrollbar {
    display: none !important;
    background-color: #00000000;
}

noscript {
    position: fixed;
    bottom: 0;
    padding: calc(var(--sidebar-width) / 2);
    width: calc(100vw - var(--sidebar-width));
    background-image: linear-gradient(135deg, var(--red1), var(--red2));
    display: block;
    z-index: 101;
}

.tooltip {
    display: block;
    position: relative;
    left: var(--sidebar-width);
    bottom: calc(var(--sidebar-width) - var(--navbar-offset));
    padding: calc(var(--navbar-offset) / 2);
    border-radius: calc(var(--navbar-offset) / 4);
    word-wrap: normal;
    pointer-events: none;
    opacity: 0;
    width: max-content;
    background-color: var(--overlay);
    z-index: 105;
    transition-property: opacity, transform, color;
    transform: translateX(calc(var(--navbar-offset) * -1));
    transition-duration: 0.5s;
}

.sidebar-hover {
    width: calc(var(--sidebar-width) - var(--navbar-offset));
    height: calc(var(--sidebar-width) - var(--navbar-offset));
}

.sidebar-hover:hover>.tooltip,
.sidebar-hover:focus>.tooltip {
    opacity: 1;
    transform: translateX(0);
}

@keyframes tooltip-show {
    0% {
        visibility: hidden;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes tooltip-hide {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    99% {
        visibility: visible;
        transform: translateX(var(--navbar-offset));
        opacity: 0;
    }

    100% {
        visibility: hidden;
    }
}

#notifications {
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    z-index: 199;
    user-select: none;
    pointer-events: none;
    width: 50%;
}

.notification {
    width: max-content;
    word-wrap: break-word;
    max-width: 100%;
    pointer-events: all;
    border-radius: 0.25em;
    font-size: 1.25em;
    padding: 0.5em;
    margin: 0.25em;
    margin-left: calc(100% - 0.25em);
    box-shadow: calc(var(--margin) / 4) calc(var(--margin) / 4) calc(var(--margin) / 4) var(--overlay);
    text-shadow: 0 0 0.2em var(--overlay);
    animation-name: notification;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

.hiding {
    animation-name: notificationHide;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes notification {
    0% {
        font-size: 0;
        padding: 0;
        margin: 0;
        margin-left: calc(100% - 0.25em);
        opacity: 0;
    }

    30% {
        font-size: 1.25em;
        padding: 0.5em;
        margin: 0.25em;
        margin-left: calc(100% - 0.25em);
        opacity: 0;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(-100%);
    }
}

@keyframes notificationHide {
    0% {
        opacity: 1;
        transform: translateX(-100%);
    }

    70% {
        font-size: 1.25em;
        padding: 0.5em;
        margin: 0.25em;
        margin-left: calc(100% - 0.25em);
        opacity: 0;
        transform: translateX(0);
    }

    100% {
        font-size: 0;
        padding: 0;
        margin: 0;
        margin-left: calc(100% - 0.25em);
        opacity: 0;
    }
}

@media screen and (max-width: 1100px) {
    /* * {
        outline-width: 3px;
        outline-style: solid;
        outline-color: #f00;
    } */

    :root {
        --navbar-offset: 10px;
        --font-size: 17px;
        --footer-font-size: var(--font-size) * 0.8;
        --fade-in-side-distance: 30vw;
        --fade-in-bottom-distance: 30vw;
    }

    sidebar {
        display: none;
    }

    #header-desktop {
        display: none;
    }

    #header-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        margin: var(--navbar-offset);
        height: calc(var(--navbar-height) - var(--navbar-offset) * 2);
        z-index: 200;
    }

    #mobile-nav {
        display: block;
        transition-duration: 0.5s;
        transition-property: left, opacity;
    }

    .nav-open {
        left: 0 !important;
        opacity: 1 !important;
        backdrop-filter: brightness(50%) !important;
    }

    #user {
        font-size: calc(var(--navbar-height) - var(--navbar-offset) * 3);
        margin: calc((var(--navbar-height) - 1em) / 2.5);
    }

    .user-name {
        max-width: calc(100vw - var(--sidebar-width) * 2.5);
    }

    footer {
        padding: calc(2 * var(--navbar-offset));
        padding-left: var(--sidebar-width);
        padding-right: var(--sidebar-width);
        width: calc(100vw - var(--sidebar-width) * 2);
        font-size: var(--footer-font-size);
    }

    .footer-grid {
        width: calc(100vw - var(--sidebar-width) * 2);
    }

    .footer-grid a {
        padding-bottom: var(--font-size) * 0.1;
        padding-top: var(--font-size) * 0.1;
    }

    .row-2 {
        grid-row: 2;
    }

    .column-1 {
        grid-column: 1 !important;
    }

    .column-2 {
        grid-column: 2 !important;
    }

    .column-3 {
        grid-column: 3 !important;
    }

    .column-4 {
        grid-column: 4 !important;
    }

    #content {
        margin: 0;
        margin-top: var(--navbar-height);
        padding: calc(var(--sidebar-width) / 2);
        padding-top: var(--glow);
        width: calc(100vw - var(--sidebar-width));
    }

    #background,
    #shadow {
        left: 0;
        margin-left: 0;
        border-radius: 0;
        overflow: hidden;
    }

    #shadow {
        box-shadow: inset var(--theme2) calc(var(--glow) * -1) 0 var(--glow), var(--black) calc(-1 * var(--sidebar-width)) 0 0;
        width: 100vw;
        padding-left: calc(var(--glow) * 2);
        padding-right: calc(var(--glow) * 2);
        left: calc(var(--glow) * -2);
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding-left: calc(var(--sidebar-width) / 4);
        padding-right: calc(var(--sidebar-width) / 4);
        width: calc(100vw - var(--sidebar-width) / 2);
    }

    .footer-grid {
        width: calc(100vw - var(--sidebar-width) / 2);
    }
}